<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
    <title>Aplicacion de Tareas</title>
</head>
<body>
    <main class="container p-4">
        

        <h1 class="display-4 text-center mt-4 titulo">Aplicacion de Tareas</h1>

        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/crear-tarea" method="POST">
                            <div class="form-group">
                                <input type="text" name="contenido" placeholder="Tarea" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Guardar
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for tareas in tareas %}
                            <li class="list-group-item">
                                <span class="{% if tareas.hecho %} hecho {% endif %}">{{tareas.content}}</span>
                                <a href="/hecho/{{tareas.id}}" class="btn btn-success btn-sm">Hecha</a>
                                <a href="/delete/{{tareas.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>